* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-bar {
  background: black;
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

button {
  padding: 2px 15px;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 2px solid #00ebc4;
  color: #00ebc4;
  background: transparent;
  margin: 2px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover {
  box-shadow: 0 0 5px, inset 0 0 5px;
  text-shadow: 0 0 15px;
}
button:active{
    transform: scale(0.94);
}
body {
  height: 100vh;
  background-image: url(img/pexels-pixabay-316093.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container {
  background-color:transparent;
  backdrop-filter: blur(10px);
  width: 60vw;
  height: 82vh;
  max-height: 800px;
  max-width: 500px;
  border: 1px solid white;
  border-radius: 10px;
  pointer-events: none;
  position: absolute;
  bottom:0px;
  opacity: 0;
  
  transition: all 0.6s ease;
  
}
.modal-container.show{
  opacity: 1;
  pointer-events: auto;
  bottom: 100px;
  
  

}
.modal {
  width: 80%;
  max-height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  overflow: hidden;
}
.close-modal{
    display: flex;

}
h1{
    text-align: justify;
    padding: 10px;
    color: #00ebc4;
}
.form-control{
  margin: 10px 10px 0 10px;
  padding-bottom: 10px;
  position: relative;
}

.form-control input{
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.293);
  padding: 10px;
}
.form-control label{
  display: inline-block;
  width: 100%;
}
.form-control i{
  position: absolute;
  top: 30px;
  right: 10px;
  visibility: hidden;
}
.enviar{
  display: block;
  width: 70%;
  margin: 15px auto;
  padding: 7px;
  background-color: #000000;
}
.form-control.success input{
  border-color: #2ecc71;
}
.form-control.error input{
  border-color: #e74c3c;
}
.form-control.success i.fa-check-circle{
  color: #2ecc71;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
  color: #e74c3c;
  visibility: visible;
}

